In [2]:
import pandas as pd
import numpy as np

In [3]:
import requests

url = 'https://www.yonsei.ac.kr/sc/support/calendar.jsp'
res = requests.get(url)

print(res)

<Response [200]>

In [4]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(res.text, 'html.parser')

In [5]:
soup.findAll('th')

[<th rowspan="6" scope="row"><span class="month2">02 FEB</span></th>,
 <th rowspan="6" scope="row"><span class="month3">03 MAR</span></th>,
 <th rowspan="7" scope="row"><span class="month4">04 APR</span></th>,
 <th rowspan="8" scope="row"><span class="month5">05 MAY</span></th>,
 <th rowspan="9" scope="row"><span class="month6">06 JUN</span></th>,
 <th rowspan="1" scope="row"><span class="month7">07 JUL</span></th>,
 <th rowspan="5" scope="row"><span class="month8">08 AUG</span></th>]

In [6]:
month = soup.find_all('th', {'scope':'row'})

In [7]:
dayevent = soup.find_all('td',  attrs = {'class': "des"})

In [8]:
df = pd.DataFrame()
monls = []

for i in range(len(month)):
    num = int(str(month[i]).split()[1].strip('rowspan="'))
    text = month[i].get_text()
    for n in range(num):
        monls.append(text)

df['Month'] = monls
df

     Month
0   02 FEB
1   02 FEB
2   02 FEB
3   02 FEB
4   02 FEB
5   02 FEB
6   03 MAR
7   03 MAR
8   03 MAR
9   03 MAR
10  03 MAR
11  03 MAR
12  04 APR
13  04 APR
14  04 APR
15  04 APR
16  04 APR
17  04 APR
18  04 APR
19  05 MAY
20  05 MAY
21  05 MAY
22  05 MAY
23  05 MAY
24  05 MAY
25  05 MAY
26  05 MAY
27  06 JUN
28  06 JUN
29  06 JUN
30  06 JUN
31  06 JUN
32  06 JUN
33  06 JUN
34  06 JUN
35  06 JUN
36  07 JUL
37  08 AUG
38  08 AUG
39  08 AUG
40  08 AUG
41  08 AUG

In [9]:
odd = range(0, len(dayevent), 2)
even = range(1, len(dayevent), 2)

dayls = []
for i in odd:
    text = dayevent[i].get_text().replace('\t', "")
    text = text.replace('\n', "")
    dayls.append(text)

df['Day'] = dayls

eventls = []
for i in even:
    text = dayevent[i].get_text()
    eventls.append(text)

df['Event'] = eventls

df

     Month            Day                           Event
0   02 FEB          1(수)                     휴 · 복학 접수 시작
1   02 FEB   13(월)~17(금)                    2023-1학기 수강신청
2   02 FEB   17(금)~23(목)                      2023-1학기 등록
3   02 FEB         22(수)                         복학 접수 마감
4   02 FEB         26(일)                             졸업예배
5   02 FEB         27(월)                            학위수여식
6   03 MAR          1(수)                              삼일절
7   03 MAR          2(목)                       개강 / 교무위원회
8   03 MAR     6(월)~8(수)                     수강신청 확인 및 변경
9   03 MAR   10(금)~13(월)                    2023-1학기 추가등록
10  03 MAR   13(월)~17(금)                          조기졸업 신청
11  03 MAR         15(수)   미등록자 일반 휴학 접수 마감 / 등록금 전액반환 마감
12  04 APR          6(목)                            교무위원회
13  04 APR          7(금)                          학기 1/3선
14  04 APR    9(일)~15(토)                             고난주간
15  04 APR          9(일)                              부활절
16  04 APR   20(목)~26(수)                             중간시험
17  04 APR  27(목)~5.3(수)            2023-2학기 캠퍼스내 소속변경 신청
18  04 APR  27(목)~5.1(월)                             수강철회
19  05 MAY          1(월)                           근로자의 날
20  05 MAY     2(화)~4(목)                         S/U평가 신청
21  05 MAY          4(목)                            교무위원회
22  05 MAY          5(금)                             어린이날
23  05 MAY         10(수)                          은퇴교수의 날
24  05 MAY         13(토)                            창립기념일
25  05 MAY         15(월)             학기 2/3선 / 일반휴학 접수 마감
26  05 MAY         27(토)                         부처님 오신 날
27  06 JUN          1(목)               교무위원회 / 질병휴학 접수 마감
28  06 JUN          4(일)                            성령강림일
29  06 JUN          6(화)                              현충일
30  06 JUN    8(목)~14(수)                   자율학습 및 보충수업 기간
31  06 JUN   15(목)~21(수)                           학기말 시험
32  06 JUN         22(목)                          여름방학 시작
33  06 JUN   22(목)~28(수)     2023-2학기 캠퍼스내 복수전공 · 연계전공 신청
34  06 JUN         26(월)                      여름계절제 수업 시작
35  06 JUN         28(수)                 2023-1학기 성적제출 마감
36  07 JUL         17(월)                      여름계절제 수업 종료
37  08 AUG          1(화)                     휴 · 복학 접수 시작
38  08 AUG         15(화)                              광복절
39  08 AUG   16(수)~22(화)                    2023-2학기 수강신청
40  08 AUG   18(금)~24(목)                      2023-2학기 등록
41  08 AUG         25(금)                 학위수여식 / 복학 접수 마감

In [10]:
import selenium
from selenium import webdriver

driver = webdriver.Chrome()

In [11]:
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

driver.get('https://www.naver.com/') 
driver.implicitly_wait(5)

In [12]:
url = driver.current_url
url

'https://www.naver.com/'

In [13]:
search = driver.find_element(By.XPATH, '//*[@id="query"]')

In [14]:
search.send_keys('고려대학교')

In [15]:
search.send_keys(Keys.RETURN)

In [16]:
img = driver.find_element(By.XPATH, '//*[@id="main_pack"]/div[2]/div[2]/div[1]/div/div[2]/a/img')
img_url = img.get_attribute('src')
print(img_url)

https://search.pstatic.net/common?type=f&size=174x174&quality=100&direct=true&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150831_102%2F1441001184354BvGxq_JPEG%2F11591498_0.jpg

In [17]:
driver.close()

In [18]:
import urllib.request
from PIL import Image

urllib.request.urlretrieve(img_url, "koreathumbnail.jpg")
imgf = Image.open("koreathumbnail.jpg")
imgf.show()